body,html{
    height: 100%;
}

body{
    background:url(/images/ecshop-bg.png);
    background-size: cover;
    font-size: 12px;
   .login-hd {
        background: none;
        height: 44px;
        padding: 40px 0 40px 50px;
    }
    .center-warp{
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 475px;
        margin: auto auto;
        transform: translateY(-50%);
        .login-center{
            width: 380px;
            margin: 0 auto;
            .bd-logo{
                img {
                    width: 248px;
                    height: 65px;
                    margin-left: 66px;
                }
            }
        }
        .z-bd{
            position: relative;
            overflow: hidden;
            padding-bottom: 42px;
            height: 350px;
            background: url(/images/icloud-bar.png) no-repeat 0 bottom;
            margin-top: 50px;
            .login-panel {
                position: absolute;
                left: 16px;
                z-index: 2;
                width: 302px;
                height: 321px;
                background: #fff;
                background: rgba(255,255,255,.85);
                border: none;
                border-radius: 0;
                color: #A1A1A1;
                padding: 5px 70px 25px;
                overflow: hidden;
                box-shadow: 5px 2px 20px rgba(0,0,0,.3);
                height: 322px;
                .panel-hd {
                    padding-bottom: 10px;
                    line-height: 1;
                    font-size: 18px;
                    margin: 18px 0;
                    text-align: center;
                    font-weight: normal;
                }
                .controls{
                    position: relative;
                    height: 51px;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    .iconphone {
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        z-index: 10;
                    }
                    input{
                        border: none;
                        background-color: #fff;
                        color: #8a8a8a;
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        text-indent: 50px;
                    }
                    .first {
                        border-radius: 5px 5px 0 0;
                        overflow: hidden;
                        border-top: 1px solid #ddd;
                    }
                    .third {
                        border-radius: 0 0 5px 5px;
                        overflow: hidden;
                    }
                    .btn-a {
                        cursor: pointer;
                        width: 100%;
                        margin-top: 20px;
                        display: block;
                        color: #FFF;
                        font-size: 16px;
                        line-height: 51px;
                        text-align: center;
                        background-color: #fc7878;
                        border: 0;
                        border-radius: 4px;
                        letter-spacing: 4px;
                        text-indent: 0px;
                    }
                }
                .bside {
                    margin-top: 12px;
                    overflow: hidden;
                    height: auto;
                    input[type="checkbox"]{
                        float: left;
                        width: 15px;
                        height: 15px;
                        margin: 2px 8px 0 0;
                    }
                    label {
                        color: #666;
                        float: left;
                    }
                    .link-forget {
                        float: left;
                        margin-left: 25px;
                    }
                    a {
                        float: right;
                        display: inline-block;
                        text-align: right;
                    }
                }
            }
            .cl-link-blue {
                color: #41A5E1 !important;
            }   
        }
    }
}
